<ion-view view-title='Home - Memory Feed'>
  <ion-content>
        <div ng-show="beforeloginLinks">
             <div class="row">
                 <div class="col item text-center">Please login OR register before use the app?</div>
             </div>
             <div class="row">
                 <div class="col col-40 text-center">
                    <a class="button button-block button-positive button-small ion-log-in" ng-click="login()">&nbsp;Login</a>
                 </div>
                 <div class="col col-20 text-center home-or-text">
                    <div class="col text-center">OR</div>
                 </div>
                 <div class="col col-40 text-center">
                   <a class="button button-block button-positive button-small ion-person-add" ng-click="register()">&nbsp;Register</a>
                 </div>
             </div>
        </div>
      
        <div ng-show="afterloginLinks">
            <div class="card text-center" ng-show="showHomeMsg">
                  <h4 class="display-msg">{{showHomeMsgValue}}</h4>
            </div>
        
            <div class="list" ng-show="showMemories">
                <div class="card" ng-repeat="memoryItem in memoryListArr">
                    <a class="item item-avatar item-divider" href="#/app/memoryDetails/{{memoryItem.memoryId}}">
                         <img src="{{memoryItem.memoryUserImg}}">
                         <strong>{{memoryItem.memoryUserName}}</strong>
                         <p>{{memoryItem.memoryAddOnDateTime}}</p>
                     </a>
                     <a class="item item-thumbnail-right" href="#/app/memoryDetails/{{memoryItem.memoryId}}">
                        <img src="{{memoryItem.memoryImg}}">
                        <strong>{{memoryItem.memoryTitle}}</strong>
                        <p>{{memoryItem.memoryContent}}</p>
                    </a>
                   
                    <div class="item tabs tabs-secondary tabs-icon-left">
                    <a class="tab-item" href="#" title="I remember this">
                      <strong>{{memoryItem.IREMcount}}</strong>&nbsp;&nbsp;
                      <i class="icon ion-information"></i>
                      IREM
                    </a>
                    
                    <a class="tab-item" href="#" title="Like">
                     <strong> {{memoryItem.LIKEcount}}</strong>&nbsp;&nbsp;
                      <i class="icon ion-thumbsup"></i>
                      Like
                    </a>
                    <a class="tab-item" href="#" title="Follower">
                      <strong>{{memoryItem.FOLLOWcount}}</strong>&nbsp;&nbsp;
                      <i class="icon ion-ios-people"></i>
                      Follower
                    </a>
                 </div>
            
                 <div class="item home-act-bg padding-zero" ng-repeat="activityItem in memoryItem.activityListArray">
                    <a class="item home-act-bg padding-zero" href="#/app/activityDetails/{{activityItem.activityId}}/{{memoryItem.memoryTitle}}">
                         <div class="row">
                             <div class="col">
                                <div class="text-left item-avatar">
                                    <img src="{{activityItem.activityUserImg}}">
                                    <strong>{{activityItem.activityUserName}}</strong>
                                    <p>{{activityItem.activityContent}}</p>
                                </div>
                             </div>
                             <div class="col col-20">
                                 <strong>{{activityItem.activityType}}</strong>
                             </div>
                             <div class="col col-20 text-right full-image">
                               <img ng-show="activityItem.activityImgTrue" width="50px" height="50px" src="{{activityItem.activityImg}}">
                             </div>
                         </div> <!--End row-->
                    </a> <!--End a-->
                </div><!-- End activityListArray loop-->
                
                
                 <a class="item home-act-bg text-center" href="#/app/activity/{{memoryItem.memoryId}}/ADD/{{memoryItem.memoryUserId}}">
                  <strong>Reminisce</strong>
                 </a>
                
              </div> <!--End memoryListArr-->
           </div>
        
          <div class="list" ng-show="!showMemories">
              <div class="card text-center">
                 <strong>No Memory Found</strong>
             </div>
          </div>
       </div>
    
  </ion-content>
</ion-view>
