<ion-modal-view>

  <ion-header-bar>
    <a class="button icon-left ion-chevron-left button-clear button-small"  ng-click="login()" ng-show="beforeloginLinks"></a>
    <a class="button icon-left ion-chevron-left button-clear button-small"  ng-click="closeRegister()" ng-show="afterloginLinks"></a>
    <span class="title">Register</span>
  </ion-header-bar>
  
  <ion-content>
    <form ng-submit="doRegister()" name="registerForm" novalidate enctype="multipart/form-data">
      <div class="list">
      
        <label class="item item-input item-stacked-label m-star">
      		Fields marked with '<i class="ion-ios-medical assertive"></i>' are mandatory &nbsp;&nbsp;
        </label>
      
       	<label class="item item-input display-msg" ng-show="registerMsg">
        	{{registerMsgValue}}
        </label>
        
        <label class="item item-input item-stacked-label">
          <span class="input-label">Username  <i class="ion-ios-medical assertive m-star-field"></i></span>
          <input type="text" name="username" ng-model="registerData.username" placeholder="Username" autocomplete="off" required>
          <span style="color:red" ng-show="registerForm.username.$dirty && registerForm.username.$invalid">
          	<span ng-show="registerForm.username.$error.required">Username is required.</span>
          </span>
        </label>
        
        <label class="item item-input item-stacked-label">
          <span class="input-label">Email <i class="ion-ios-medical assertive m-star-field"></i></span>
          <input type="email" name="email" ng-model="registerData.email" placeholder="Email" autocomplete="off" required>
           <span style="color:red" ng-show="registerForm.email.$dirty && registerForm.email.$invalid">
          	<span ng-show="registerForm.email.$error.required">Email is required.</span>
            <span ng-show="registerForm.email.$error.email">Invalid email address.</span>
          </span>
        </label>
        
        <label class="item item-input item-stacked-label">
          <span class="input-label">First Name <i class="ion-ios-medical assertive m-star-field"></i></span>
          <input type="text" name="firstName" ng-model="registerData.firstName" placeholder="First Name" autocomplete="off" required>
          <span style="color:red" ng-show="registerForm.firstName.$dirty && registerForm.firstName.$invalid">
          	<span ng-show="registerForm.firstName.$error.required">First name is required.</span>
          </span>
        </label>
        
        <label class="item item-input item-stacked-label">
          <span class="input-label">Middle Name</span>
          <input type="text" name="middleName" ng-model="registerData.middleName" placeholder="Middle Name" autocomplete="off" required>
        </label>
        
        <label class="item item-input item-stacked-label">
          <span class="input-label">Sur Name <i class="ion-ios-medical assertive m-star-field"></i></span>
          <input type="text" name="surName" ng-model="registerData.surName" placeholder="Sur Name" autocomplete="off" required>
          <span style="color:red" ng-show="registerForm.surName.$dirty && registerForm.surName.$invalid">
          	<span ng-show="registerForm.surName.$error.required">Sur name is required.</span>
          </span>
        </label>
        
        <label class="item item-input item-stacked-label">
          <span class="input-label">Date Of Birth</span>
          <input type="date" name="dateOfBirth" ng-model="registerData.dateOfBirth" placeholder="MM-DD-YYYY" value="">
        </label>
        
        <label class="item item-input item-stacked-label">
          <span class="input-label">Password <i class="ion-ios-medical assertive m-star-field"></i></span>
          <input type="password" name="password" ng-model="registerData.password" placeholder="Password" required>
          <span style="color:red" ng-show="registerForm.password.$dirty && registerForm.password.$invalid">
          	<span ng-show="registerForm.password.$error.required">Password is required.</span>
          </span>
        </label>
        
        <label class="item item-input item-stacked-label">
          <span class="input-label">Confirm Password <i class="ion-ios-medical assertive m-star-field"></i></span>
          <input type="password" name="confirmPassword" ng-model="registerData.confirmPassword" placeholder="Confirm Password" required>
          <span style="color:red" ng-show="registerForm.confirmPassword.$dirty && registerForm.confirmPassword.$invalid">
          	<span ng-show="registerForm.confirmPassword.$error.required">Confirm password is required.</span>
          </span>
        </label>
        
        
         <label class="item item-input">
          <span class="input-label">Photo ({{fileSizeMBMsg}} Max.)</span>
          <input type="file" name="photoFileUpload" id="photoFileUpload" ng-model="registerData.photoFileUpload">
        </label>
        
         <label class="item item-input item-floating-label" style="color:red" ng-show="passwordMatchMsg">
        	<span >Password did not match.</span>
        </label>
        
        <label class="item item-input item-stacked-label" ng-show="showFileMsg">
          <span style="color:red; text-align:center;">
          	{{fileMsg}}
          </span>
        </label>
        
        <label class="item">
          <button class="button button-block button-positive" type="submit" ng-disabled="!passwordMatch || ((registerForm.username.$dirty || registerForm.username.$pristine) && registerForm.username.$invalid) || ((registerForm.firstName.$dirty || registerForm.firstName.$pristine) && registerForm.firstName.$invalid) || ((registerForm.surName.$dirty || registerForm.surName.$pristine) && registerForm.surName.$invalid) || ((registerForm.email.$dirty || registerForm.email.$pristine) && registerForm.email.$invalid) || ((registerForm.password.$dirty || registerForm.password.$pristine) && registerForm.password.$invalid) || ((registerForm.confirmPassword.$dirty || registerForm.confirmPassword.$pristine) && registerForm.confirmPassword.$invalid)">
         
          <i class="ion-android-checkmark-circle"></i>
          Submit</button>
        </label>
        
      </div>
    </form>
  </div>
  </ion-content>
</ion-modal-view>
