<ion-modal-view>
  <ion-header-bar>
    <a class="button icon-left ion-chevron-left button-clear button-small"  ng-click="closeUserDetailssModal()"></a>
    <h1 class="title">My Account Details</h1>
  </ion-header-bar>
  
  <ion-content>
    
    <div ng-show="showUserDetail && afterloginLinks" class="card">
           <div class="row item item-divider">
              <div class="col col-33">User Name : </div>
              <div class="col col-67">{{name}}</div>
          </div>
          <div class="row item item-text-wrap">
              <div class="col col-33">Email : </div>
              <div class="col col-67">{{email}}</div>
          </div>
          <div class="row item item-divider">
              <div class="col col-33">First Name : </div>
              <div class="col col-67">{{firstName}}</div>
          </div>
          <div class="row item item-text-wrap">
              <div class="col col-33">Middle Name : </div>
              <div class="col col-67">{{middleName}}</div>
          </div>
          <div class="row item item-divider">
              <div class="col col-33">Sur Name : </div>
              <div class="col col-67">{{surName}}</div>
          </div>
          <div class="row item item-divider">
              <div class="col col-33">Date Of Birth : </div>
              <div class="col col-67">{{dateOfBirth}}</div>
          </div>
          <div class="row item item-text-wrap">
              <div class="col col-33">Photo : </div>
              <div class="col col-67"><img  align="absmiddle" width="100px" height="100px" src="{{photo}}"  /></div>
          </div>
          <div class="row item item-divider">
              <div class="col col-33">Login Through : </div>
              <div class="col col-67">{{loginThroughMsg}}</div>
          </div>
      </div>

  </ion-content>
</ion-modal-view>

