/* Empty. Add your own CSS if you like */

.forgot-password-div
{
	border-bottom:1px solid #ddd;
	text-align:center;
}
.forgot-password-link
{
	color:blue;
	cursor:pointer;
}
.login-submit-label
{
	border-bottom:none;
	padding-top:2px;
	padding-bottom:2px;
}
.login-submit-button
{
	margin-bottom:2px !important;
}

.loading-container .loading {
    border-radius: 5px;
    color: #fff;
    font-size: 39px;
    padding: 5px;
    text-align: center;
    text-overflow: ellipsis;
	background:none;
}
.home-or-text
{
	vertical-align:middle;
    margin-bottom: 10px;
    margin-top: 10px;
}

.display-msg
{
	color:red;
	white-space: normal;
}
.spinner svg {
  width: 50px;
  height: 50px;
  stroke: #fff;
  fill: #fff;
}

.logo-image {
    height: 35px;
}

.m-star
{
	color: red;
    font-size: 12px;
    padding-left: 5px;
    padding-right: 5px;
    text-align: right;
}
.m-star-field
{
    font-size: 12px;
    padding-left: 5px;
    padding-right: 5px;
    text-align: right;
}
.bar, .bar .bar-stable, .bar .bar-stable .title {
    background-color: #6d9eeb;
	color:#fff;
}

.item-divider {
    background-color: #c9daf8;
}

.user-update-btn
{
	padding-top:20px;
}
.bar-stable .button.button-clear
{
	color:#fff;
}
.bar-subheader .title
{
	color:#fff;
}
.button-clear.button-clear
{
	color:#fff;
}

.item-avatar
{
	min-height:60px;
}

.home-act-bg
{
	background-color:#F4F4F4;
}
.padding-zero
{
	padding:0px;
}

.home-share-button
{
	float:right;
	margin-right: -48px;
    margin-top: -18px;
	z-index:2;
	right:0px;
}

.button.button-full {
    margin-bottom: 0px;
    margin-top: 0px;
	margin-left: 0px;
    margin-right: 0px;
}

/*//////////////fileUpload button css///////////////////*/

*{
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
}

.inputBtnSection{
    display:block;
    vertical-align:top;
    font-size:0;
    font-family:verdana;
}
.disableInputField{
    display:inline-block;
    vertical-align:top;
    height: 34px;
    margin: 0;
    font-size:14px;
    padding:0 3px;
}

.fileUpload {
	position: relative;
	overflow: hidden;
    border:solid 1px gray;
    display:inline-block;
    vertical-align:top;
}
.uploadBtn{
    display:inline-block;
    vertical-align:top;
    background:#387EF5;
    font-size:14px;
    padding:0 10px;
    height:33px;
    line-height:30px;
    color:#fff;
}

.fileUpload input.upload {
	position: absolute;
	top: 0;
	right: 0;
	margin: 0;
	padding: 0;
	font-size: 20px;
	cursor: pointer;
	opacity: 0;
	filter: alpha(opacity=0);
}

/*//////////////fileUpload button css///////////////////*/


.mentionToField{
  display: inline-block;
  padding:10px;
  width:100%;
}
